<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Motor Inn</title>
<link href='..\static\css\master.css' rel='stylesheet'>
</head>
<body>
<div id="im"></div>
<div id="po"></div>
<div id="hh1">Momentous</div>

<div id="pos3">let us organize and manage</br> best moments in your life.</div>
<div id="pos"></div>
<div id="pos1"><a href="/login" targer="_self"><button>Login</button></a></div></br></br>
<div id="pos2"><a href="/register" targer="_self"><button>Register</button></a></div>


</body>
</html>